# Python
__pycache__/

# Virtual Environment
venv/
# IDEs
.idea/
.vscode/
*.swp

# Flask specific
instance/
.webassets-cache
*.log

# OS files
.DS_Store
Thumbs.db

# Coverage reports
htmlcov/
.coverage
.coverage.*
*.cover

# Migrations
node_modules/
flask_session/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# Docker files
docker-compose.override.yml
Dockerfile
*.tar

# Other
*.bak
*.tmp
*.tmp.*
